*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    min-height:100vh;
    background:linear-gradient(
        135deg,
        #0f172a,
        #1e293b,
        #020617
    );
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.back-btn{
    position:absolute;
    top:20px;
    left:20px;

    padding:10px 18px;
    background:#06b6d4;
    color:white;
    text-decoration:none;
    border-radius:10px;
}

.profile-container{
    width:400px;
    text-align:center;

    background:rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,0.1);

    padding:40px;
    border-radius:20px;

    color:white;
}

.profile-avatar{
    font-size:80px;
    margin-bottom:20px;
}

.profile-info{
    margin-top:25px;
}

.profile-info p{
    margin:12px 0;
    color:#cbd5e1;
}

.edit-btn{
    margin-top:25px;
    padding:12px 25px;

    border:none;
    border-radius:10px;

    background:#06b6d4;
    color:white;
    cursor:pointer;
}