*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    min-height:100vh;
    background:linear-gradient(
        135deg,
        #0f172a,
        #1e293b,
        #020617
    );
    padding:40px;
}

.container{
    max-width:1200px;
    margin:auto;
}

h1{
    text-align:center;
    color:white;
    margin-bottom:30px;
}

.mission-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
    gap:20px;
}

.mission-card{
    background:rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,0.1);
    backdrop-filter:blur(10px);
    border-radius:15px;
    padding:30px;
    text-align:center;
    color:white;
    cursor:pointer;
    transition:0.3s;
    font-size:20px;
    font-weight:600;
}

.mission-card:hover{
    transform:translateY(-5px);
    box-shadow:0 0 20px rgba(0,255,255,0.3);
}

#missionInfo{
    margin-top:40px;
    background:rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,0.1);
    border-radius:20px;
    padding:25px;
    color:white;
    min-height:220px;
    line-height:1.8;
}