*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#0f172a;
    color:white;
}

/* Header */

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    background:#1e293b;
}

.logo{
    font-size:28px;
    font-weight:bold;
}

.search-box{
    display:flex;
    align-items:center;
    width:700px;
    gap:10px;
}

.search-box input{
    flex:1;
    padding:14px 20px;
    border:none;
    outline:none;
    border-radius:30px;
    background:#334155;
    color:white;
    font-size:16px;
}

.search-box input::placeholder{
    color:#94a3b8;
}

.search-box input:focus{
    box-shadow:0 0 10px #06b6d4;
}

#searchResult{
    width:90%;
    max-width:900px;
    margin:20px auto;
    padding:20px;
    background:#1e293b;
    border-radius:12px;
    display:none;
}

#searchResult button{
    padding:10px 20px;
    border:none;
    border-radius:8px;
    background:#06b6d4;
    color:white;
    cursor:pointer;
}

.search-box button:hover{
    background:#0891b2;
    transform:translateY(-2px);
}

.dashboard-btn{
    background:#06b6d4;
    color:white;
    text-decoration:none;
    padding:14px 25px;
    border-radius:12px;
    font-weight:bold;
}

.dashboard-btn:hover{
    transform:translateY(-2px);
    box-shadow:0 0 15px #06b6d4;
}

/* Sections */

.section{
    padding:30px 40px;
}

.section h2{
    margin-bottom:20px;
}

/* Horizontal Scroll */

.scroll-container{
    display:flex;
    gap:20px;
    overflow-x:auto;
    padding-bottom:10px;
}

.scroll-container::-webkit-scrollbar{
    height:8px;
}

.scroll-container::-webkit-scrollbar-thumb{
    background:#06b6d4;
    border-radius:10px;
}

/* Cards */

.card{
    min-width:320px;
    background:#1e293b;
    border-radius:15px;
    overflow:hidden;
    transition:.3s;
    cursor:pointer;
}

.card img{
    width:100%;
    height:180px;
    object-fit:cover;
}

.card-content{
    padding:15px;
}

.card-content h3{
    margin-bottom:10px;
}

.card-content p{
    color:#94a3b8;
    font-size:14px;
}

.card:hover{
    transform:translateY(-5px);
    box-shadow:0 0 20px rgba(6,182,212,.4);
}

.card:hover{
    transform:translateY(-5px);
    box-shadow:0 0 20px rgba(6,182,212,.4);
}